<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/axios@0.21.4/dist/axios.min.js"></script>
    <script src="index.js"></script>
    <style>
        h1{
            align-content: center;
        }
        body{
            display: flexbox;
            flex-direction: column;
            align-content: center;
            align-items: center;
            font-family: Arial;
            background-image: linear-gradient(45deg, cyan, yellow);
        }
        .tela-login{
            background-color: rgba(0,0, 0, 0.9);
            position: absolute;
            top: 50%;
            left:50%;
            transform: translate(-50%,-50%);
            padding: 100px;
            border-radius: 15px;
            color: white;

        }
        input{
            padding: 15px;
            border: none;
            outline: none;
            border-radius: 5px;
			margin:8px;
        }
        button{
            background-color: dodgerblue;
            border: none;
            padding: 15px;
            width: 100%;
            border-radius: 10px;
            color: white;
            font-size: 15px;
			margin-top:8px;
        }
        button:hover{
            background-color: deepskyblue;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="tela-login">
        <h1>Login</h1>
            <input type="text" placeholder="Usuário" name="usuario" id="Usuario">

            <input type="password" placeholder="Senha" name="senha" id="Senha">
            
        
        <button type="submit"onclick="login()"></button>

    </div>

</body>
</html>